*.scala text working-tree-encoding=UTF-8 eol=lf
*.java  text working-tree-encoding=UTF-8 eol=lf
*.txt   text working-tree-encoding=UTF-8 eol=lf
*.md    text working-tree-encoding=UTF-8 eol=lf
*.conf  text working-tree-encoding=UTF-8 eol=lf
*.json  text working-tree-encoding=UTF-8 eol=lf
*.js    text working-tree-encoding=UTF-8 eol=lf
*.css   text working-tree-encoding=UTF-8 eol=lf
*.jsx   text working-tree-encoding=UTF-8 eol=lf
*.vue   text working-tree-encoding=UTF-8 eol=lf
*.xml   text working-tree-encoding=UTF-8 eol=lf
*.sbt   text working-tree-encoding=UTF-8 eol=lf
*.less  text working-tree-encoding=UTF-8 eol=lf
*.yml   text working-tree-encoding=UTF-8 eol=lf
*.html  text working-tree-encoding=UTF-8 eol=lf
*.svg   text working-tree-encoding=UTF-8 eol=lf
*.yml   text working-tree-encoding=UTF-8 eol=lf
